<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<!--<!DOCTYPE generatorConfiguration-->
<!--        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">-->
<generatorConfiguration>
    <context id="testTables" targetRuntime="MyBatis3">
        <jdbcConnection
                driverClass="com.mysql.cj.jdbc.Driver"
                connectionURL="jdbc:mysql://localhost:3307/mybatis?useUnicode=true&amp;serverTimezone=UTC&amp;characterEncoding=UTF-8"
                userId="root"
                password="shc573573"
        ></jdbcConnection>
        <javaModelGenerator targetPackage="com.suhuancheng.entity"
                            targetProject="./src/main/java"></javaModelGenerator>
        <sqlMapGenerator targetPackage="com.suhuancheng.repository"
                         targetProject="./src/main/java"></sqlMapGenerator>
        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.suhuancheng.repository" targetProject="./src/main/java">
        </javaClientGenerator>
        <table tableName="student" domainObjectName="Student"></table>
        <table tableName="user" domainObjectName="User"></table>
        <table tableName="class" domainObjectName="Classes"></table>
        <table tableName="course" domainObjectName="Course"></table>
    </context>
</generatorConfiguration>
